地税Demo/nsrjbxxUpdateRequest.xsd

<?xml version="1.0" encoding="GBK"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="taxMLABCPublic.xsd"/>
     <xs:element name="REQUEST" type="T_REQUEST"/>
	<xs:complexType name="T_REQUEST">
		<xs:annotation>
			<xs:documentation>纳税人密码初始化</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NSRSBH" type="nsrsbh"></xs:element>
			<xs:element name="NSRJBXX">
					<xs:annotation>
						<xs:documentation>纳税人基本信息 最少1个 ，纳税人识别号</xs:documentation>
					</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MXXX" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE"  type="NSRJBXXDM">

									</xs:element>
									<xs:element name="VALUE" type="abcstring"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
